header {
  --header-content-height: 4em;
}
tab-controller {
  --tab-controller-tab-padding-top: 30px;
}

.my-account {
  ul {
    list-style-type: none;
  }
  @media screen and (min-width: $mobile-max-width) {
    width: 540px;
    flex-direction: column;
  }

  &__tabs-title {
    font-weight: 600;
  }

  &__title {
    font-weight: 600;
  }
  &__text {
    margin: 0 0 #{$base-size * 3} 0;
  }

  &__tabs-subtitle {
    font-size: 14px;
    color: #717171;
  }
}
